@define-color bar-bg rgba(30, 30, 46, 0);
@define-color main-bg rgba(30, 30, 46, 0.8);
@define-color main-fg rgba(180,190,254,1);
@define-color wb-act-bg rgba(180,190,254,0.9);
@define-color wb-act-fg rgba(0,0,0,0.7);
@define-color wb-hvr-bg rgba(75,75,125,0.4);
@define-color wb-hvr-fg rgba(174,170,240,0.8);
@define-color wb-act-hvr-bg rgba(180,190,254,0.6);
@define-color wb-act-hvr-fg rgba(0,0,0,0.7);

/* --- General configuration --- */
* {
  font-family: "JetBrainsMono Nerd Font Propo";
  border: none;
  font-weight: bold;
  font-size: 14px;
}

/* --- Make waybar transluscent --- */
window#waybar {
  background: @bar-bg;
  transition-property: background-color;
  transition-duration: 0.5s;
}

/* --- Tooltip configuration*/
tooltip {
  background: @main-bg;
  color: @main-fg;
  border-radius: 7px;
  border-width: 1px;
}

/* --- Workspaces configuration --- */
#workspaces button {
  box-shadow: none;
  text-shadow: none;
  border-radius: 9px;
  margin: 3px 0px;
  padding: 0px 10px;
  color: @main-fg;
  /* transition: all 0.4s cubic-bezier(0.55, -0.68, 0.48, 1.682); */
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  background: @wb-act-bg;
  color: @wb-act-fg;
  margin: 0px 3px;
  padding: 0px 16px;
  /* transition: all 0.4s cubic-bezier(0.55, -0.68, 0.48, 1.682); */
  transition: all 0.3s ease-in-out;
}

#workspaces button.active:hover {
  background: @wb-act-hvr-bg;
  color: @wb-act-hvr-fg;
  /* transition: all 0.4s cubic-bezier(0.55, -0.68, 0.48, 1.682); */
  transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
  background: @wb-hvr-bg;
  color: @wb-hvr-fg;
  /* transition: all 0.4s cubic-bezier(0.55, -0.68, 0.48, 1.682); */
  transition: all 0.3s ease-in-out;
}

/* --- Taskbar configuration --- */
#taskbar button {
  box-shadow: none;
  text-shadow: none;
  border-radius: 9px;
  padding: 0px 4px;
  color: @wb-color;
  /* transition: all 0.4s cubic-bezier(0.55, -0.68, 0.48, 1.682); */
  transition: all 0.3s ease-in-out;
}

#taskbar button.active {
  background: @wb-act-bg;
  color: @wb-act-color;
  padding: 0px 16px;
  /* transition: all 0.4s cubic-bezier(0.55, -0.68, 0.48, 1.682); */
  transition: all 0.3s ease-in-out;
}

#taskbar button.active:hover {
  background: @wb-act-hvr-bg;
  color: @wb-act-hvr-color;
  /* transition: all 0.4s cubic-bezier(0.55, -0.68, 0.48, 1.682); */
  transition: all 0.3s ease-in-out;
}

#taskbar button:hover {
  background: @wb-hvr-bg;
  color: @wb-hvr-color;
  /* transition: all 0.4s cubic-bezier(0.55, -0.68, 0.48, 1.682); */
  transition: all 0.3s ease-in-out;
}

/* --- Individual modules configuration --- */

#battery.warning {
  color: rgb(255, 179, 71);
}

#battery.critical {
  color: rgb(255, 105, 97);
}

#workspaces,
#taskbar,
#tray,
#clock,
#network,
#battery,
#custom-power,
#bluetooth,
#control-panel,
#system,
#backlight,
#pulseaudio {
  background-color: rgba(0, 0, 0, 0);
  margin: 2px 8px;
  padding: 0px 0px;
}

/* --- Rounded groups configuration --- */

#workspaces,
#taskbar,
#control-panel,
#system,
#taskbar,
#workspaces,
#clock {
  background: @main-bg;
  color: @main-fg;
  border-radius: 25px;
  margin: 2px 8px;
  padding: 3px 12px;
}
